.dark-theme {
  background-color: black;
  color: #A0A0A0;
}

.dark-theme-contrast {
  background-color: #404040;
  color: #A0A0A0;
}

.dark-theme-title {
  color: #A0A0A0;
}

.clear-theme {
  background-color: white;
  color: black;
}

.foreground {
  z-index: 10;
  position: absolute;
  top: 200px;
  width: 100%;
}

#bottomInfos {
  position: fixed;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.clear-theme-card {
  box-shadow: 0px 1px 5px red;
}

.dark-theme-card {
  box-shadow: 0px 1px 5px red;
}

#panel-settings {
  top: 5px;
  left: 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}
