<!DOCTYPE html>
<html ng-app="xvg">
  <head>
    <meta charset="utf-8">
    <title>Mining Monitoring - Suprnova - XVG</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </head>

  <body ng-controller="xvgController as xvgCtrl">
    <div id="priceSingle">
      xvg : {{priceDollar | currency:"$"}}
    </div>

    <h1 class="h1 mt-5 text-center text-success">Mining Monitoring - Suprnova - XVG</h1>

    <form class="mb-5 col-lg-11 col-md-11 col-sm-12 col-xs-12 mx-auto mt-5" novalidate>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Suprnova API Key (X17) <button class="btn btn-success ml-3" ng-click="saveApiKeySuprnova(apiKey)">Save</button> </div>
        </div>
        <input type="text" class="form-control p-2" name="apiKey" ng-model="apiKey" ng-change="getInfosSuprnova(apiKey)">
      </div>
    </form>

    <div class="row mx-auto">
      <div class="mx-auto col-lg-3 col-md-3 col-sm-11 col-xs-11 mt-3">
        <div class="card text-center">
          <h3 class="card-header bg-info">Hashrate</h3>
          <div class="card-block">
            <h4 class="card-title pt-3">Hashrate : {{hashrate | number : 2}} MH/s</h4>
          </div>
        </div>
      </div>
      <div class="mx-auto col-lg-3 col-md-3 col-sm-11 col-xs-11 mt-3">
        <div class="card text-center">
          <h3 class="card-header bg-success">Balance</h3>
          <div class="card-block">
            <h4 class="card-title pt-3">{{balance | number : 2}} xvg</h4>
          </div>
        </div>
      </div>
      <div class="mx-auto col-lg-3 col-md-3 col-sm-11 col-xs-11 mt-3 mb-3">
        <div class="card text-center">
          <h3 class="card-header bg-primary">Gain</h3>
          <div class="card-block">
            <h4 class="card-title pt-3">{{balance*priceDollar | currency:"$"}}</h4>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
